* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* menyembunyikan scroll */
*::-webkit-scrollbar {
    display: none;
  }

body {
  background-color: rgb(215, 215, 215);
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
}

nav {
  background-color: transparent;
}

nav a {
  float: left;
}

a {
  text-decoration: none;
  list-style: none;
  list-style: none;
  padding: 20px;
  /* margin: 20px;  */
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

li:hover,
a:hover {
  color: rgb(255, 218, 173);
}

.left {
  float: right;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;
}

.home-page {
    background-color: #949494;
    color: black;

}

.profile {
    background-color: #333333;
    color: #fff;
}

.education {
    background-color: #949494;
    color: #000;
}

.contact-me {
    background-color: #333;
    color: #fff;
}